@tailwind base;
@tailwind components;
@tailwind utilities;

/* your custom rules below */
@custom-variant dark (&:where(.dark, .dark *));

.testimonial-dots-1 li button {
  @apply bg-sky-400 rounded-full w-2 h-2 mx-1;
  opacity: 0.5;
}
.testimonial-dots-1 li.slick-active button {
  opacity: 1;
}

h1, h2, h3, h4, h5 {
  @apply font-nunito;
}


@custom-variant dark (&:where(.dark, .dark *));
                            


.testimonial-dots-1 li button {
  @apply bg-sky-400 rounded-full w-2 h-2 mx-1;
  opacity: 0.5;
}
.testimonial-dots-1 li.slick-active button {
  opacity: 1;
}


h1, h2, h3, h4, h5 {
  @apply font-nunito;
}